*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.main-container
{
background-image: url("https://cdn.pixabay.com/photo/2019/08/26/15/33/visapur-fort-4432061_1280.jpg");
height: 500px;
width: 100%;
text-align: center;
}

.navbar{
	font-weight: bolder;
	font-size: 20px;
}
.maha{
	font-size: 30px;
	color: blue;
	-webkit-text-stroke:0.5px white;
}
.exp{
	color: white;
	font-size: 22px;
	-webkit-text-stroke: 0.5px blue;
}

.btn1{
	background-color: blue;
	color: white;
	font-size: 20px;
	border: none;
	width: 170px;
	height: 50px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-right: 20px;
	font-weight: bolder;
	box-shadow: 1px 2px 4px darkblue;
	transition-duration: 1s;
}
.btn1:hover{
	transform: translate(-4px -4px);
	box-shadow: 2px 6px 10px darkblue ;
	cursor: pointer;
	border-bottom: 1px solid white;
}
.btn2{
	background-color: limegreen;
	color: white;
	font-size: 20px;
	border: none;
	width: 170px;
	height: 50px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-left: 20px;
	font-weight: bolder;
	box-shadow: 1px 2px 4px green;
	transition-duration: 1s;
}
.btn2:hover{
	transform: translate(-4px -4px);
	box-shadow: 2px 6px 10px green;
	cursor: pointer;
	border-bottom: 1px solid white;
}

.main-div{
	font-size: 25px;
	padding: 45px;
	padding-left: 100px;
	padding-right: 100px;
}

.div1{
	height: 150px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	margin-top: 25px;
}
.div2{
	height: 360px;
	width: 100%;
	text-align: center;
	
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	height: 300px;
	width: 260px;
	margin-left: 30px;
}

.card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
